<h5 class="mb-3">Rejoignez notre école</h5>
<div color="">
    <span>Vous n'avez pas de compte?  <a href="javascript:void(0)" onclick="showRegisterOrConnectForm()">s'inscrire</a></span>
</div>
{% if error %}
    <div class="alert alert-danger m-b-30 font-13">
        {{error.messageKey }}
    </div>
{% endif %}
<div class="form-style-w3ls">
    <input type="text" class="form-control" id="exampleInputuname"  required="true" name="_username" value="{{lastUserName}}" placeholder="Entrez votre nom d'utilisateur"> 
    <input type="password" required="true" class="form-control" id="exampleInputpwd1" name="_password"  placeholder="Entrer votre mot de passe"> 

    {# <input placeholder="Identifiant" id="cUsername" name="username" type="text" required="true"> #}
    {# <input placeholder="Mot de passe" id="cPassword" name="password" type="password" required="true"> #}
    
    <button type="submit" Class="btn"> Soumettre</button><br><br>
</div>