{% if roomUsers != null %}
    {% for roomUser in roomUsers %}
        <li><a href="{{path('teacher_course_by_room',{'id':roomUser.room.id})}}"><i class="fa fa-download"></i>{{roomUser.room.designation}}</a></li>
        <li id="rooms" role="separator" class="divider"></li>           
    {% endfor %}
{% endif %}