
/* About, Team, Contact, Footer, Services */
#about, #team, #contact, #services {
	padding: 45px 0;
}

#about, #services {
	background-color: #fff !important;
}
  div #services_title , div #about_title, div .commentaire_title, div .newsletter_title, div #contact_title {
		color: #03a9f3 !important;
  }

#team {
  background-color: #03a9f3 !important;
	opacity: 0.8;
}
	div #team_title {
		color: #fff !important;
	}

div #about_title, #team_title, #contact_title, #services_title {
	font-size: 3em;
}

#contact {
	background-color: #fff !important;
}

div #adresse {
	vertical-align: middle;
	color : #03a9f3;
}

#footer {
	background: #232323; 
	padding: 18px 0 0 0; 
	font-size: 12px; 
	color: #03a9f3; 
}
.follow-me-icons i {
	font-size: 3em;
	padding: 5px;
}

.scroll-to-top {
  position: fixed;
  right: 0px;
  bottom: 10%;
  width: 45px;
  height: 45px;
  text-align: center;
  color: white;
  background: #03a9f3;
  opacity: 0.5;
  line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}
.scroll-to-top:hover {
  background: #03a9f3;
  opacity: 1;
}
.scroll-to-top i {
  font-weight: 800;
}

.team-icon img{
	display:block;
}

.w-divider {
	border-color: #fff !important;
}
.b-divider {
	border-color: #0aa9f3 !important;
}
.r-divider {
	border-color: red !important;
}

.ap-st-1 {
	color: black;
	font-weight: 0px;
	font-size: 3em;
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-bottom: -0.1px;
}
.ap-st-2 {
	color: #0aa9f3;
	font-size: 2em;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 0em;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled, .btn-primary.focus, .btn-primary:focus, .btn-primary {
    background: #0aa9f3 !important;
    opacity: .8;
    border: 1px solid #0aa9f3 !important;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    opacity: 1;
}
.form-control {
    background-color: #fff;
    border: 1px solid #03a9f3;
    color: #87868aee;
    transition: all 300ms linear 0s;
}

.form-control:focus, .form-control:active {
    background-color: #fff;
    border: 1px solid #03a9f3;
    color: #87868aee;
}

#homeBan .homeBan-image .homeBan-image{
  height: 78vh;
  min-height: 150px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#item-article{
  height: 78vh;
  min-height: 150px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
  #homeBan .banH1Text {
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    padding-top: 150px;
    color: #57c6fa;
    font-weight: bold;
    font-size: 2.8em !important;
  }

  @media screen and (max-width: 500px) {

    #about, #team, #contact, #services {
      padding: 30px 0;
    }

    div #about_title, #team_title, #contact_title, #services_title {
      font-size: 2em;
    }

    #homeBan .banH1Text {
      padding-top: 92px;
      font-size: 2em !important;
    }
  }

  #homeBan .banLoginText {
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    color: #57c6fa;
    text-decoration: underline;
  }

  div .service {
    /* height: 50vh; */
    min-height: 50px;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Les services */
div .service-box {
  background-color: #fff;
  min-height: 27vh;
  border: #90d5f5 1px solid;
  border-radius: 3px;
  box-shadow: 2px 2px #57c6fa;
  padding: 5%;
  margin: 10px auto;
}
  
    div .service-item-title .fa{
      font-size: 5em;
    }
  div .service-item-content {
    font-family: 'Ubuntu Condensed', sans-serif;
  }
div .service-box:hover {
  background-color: #57c6fa;
  color: #fff;
  font-weight: bold;
  opacity: 0.8;
  min-height: 27vh;
  border: #90d5f5 1px solid;
  border-radius: 3px;
  /* box-shadow: 0px 5px 5px #57c6fa; */
  padding: 5%;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #0aa9f3;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 30%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-caption p {
  font-size: 1.5em;
  font-weight: 600;
  font-stretch: ultra-condensed;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  color :#03a9f3 !important;
}

#on-article-image .article-title {
  color: #fff !important;
  font-size: 3em;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
#on-article-image .article-date-published {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
}

.article-shadow {
  box-shadow: 2px 2px 8px silver;
}

.top-left-part{
  width:115px !important;
  float:none;
}

.navbar-toggle{
  color: #0aa9f3 !important;
}
.navbar-header .navbar-toggle:focus,.navbar-header .navbar-toggle:hover{
  background:#03a9f3 !important;
  color: #ffffff !important;
}