/*formulaire*/
.register{
	margin:10px;
	margin-bottom: 80px;
}
.register input[type="text"],.register input[type="email"],.register input[type="password"]{
	outline:none;
	border:1px solid #DFDFDF;
	background:#f5f5f5;
	padding:10px;
	color:#212121;
	width:100%;
	font-size:14px;
}
.register input[type="password"],.register input[type="email"]{
	margin:1em 0 0;
}
div#horizontalTab ul {
    padding-bottom: 1.5em;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
.register input[type="submit"]{
	outline:none;
	border:none;
	background:#cfc317;
	padding:10px 0;
	color:rgb(16, 15, 15);
	width:100%;
	font-size:1em;
	text-transform:uppercase;
	margin:2em 0 0;
}
.register input[type="submit"]:hover{
	color:white;
}
/* fin formulaire*/

#footer {
	bottom :0;
	background: #232323; 
	width: 100%; 
	font-size: 12px; 
	color: #03a9f3; 
	position: relative;
}

.follow-me-icons i {
	font-size: 2em;
	padding: 5px;
}

.scroll-to-top {
  position: fixed;
  right: 0px;
  bottom: 10%;
  width: 45px;
  height: 45px;
  text-align: center;
  color: white;
  background: #03a9f3;
  opacity: 0.5;
  line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}
.scroll-to-top:hover {
  background: #03a9f3;
  opacity: 1;
}
.scroll-to-top i {
  font-weight: 800;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a:hover{
	background:#03a9f3 !important;
	border-color:#03a9f3 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff !important;
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid #03a9f3 !important;
	background-color: #03a9f3 !important;
}
.login-title, .register-title {
	font-size: 2em !important;
	color: #03a9f3;
}
.w-divider {
	border-color: #fff !important;
}
.b-divider {
	border-color: #0aa9f3 !important;
}
.r-divider {
	border-color: red !important;
}

div .modal-height {
	height: 600px;
}
	.modal-height embed {
		width:100%; 
		height:100%
	}

/* Steps */
.line-steps .step-title {
	font-size: 1em !important;
}

/* Timeline answer */
div .answer-timeline .timeline-panel {
	box-shadow: 3px 3px 3px #0aa9f3;
}

div .newsletter_title {
	color: #03a9f3 !important;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled, .btn-primary.focus, .btn-primary:focus, .btn-primary {
	background: #0aa9f3 !important;
	opacity: .8;
	border: 1px solid #0aa9f3 !important;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
	opacity: 1;
}
.form-control {
	background-color: #fff;
	border: 1px solid #03a9f3;
	color: #87868aee;
	transition: all 300ms linear 0s;
}

.form-control:focus, .form-control:active {
	background-color: #fff;
	border: 1px solid #03a9f3;
	color: #87868aee;
}

/* Control de la taille d'un coontenu vide d'une page */
#contenu-base {
	min-height: 52vh;
}

#contenu-base-login, #contenu-base-admin {
	min-height: 83.3vh;
}

/* Articles */
#item-article .item-article-img {
  height: 78vh;
  min-height: 150px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
  #item-article .article-h1-title {
    padding-top: 150px;
    color: #57c6fa;
    font-weight: bold;
    font-size: 2.8em !important;
	}
	
	#item-article .article-date-published {
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #57c6fa;
		font-style: italic;
	}

  @media screen and (max-width: 500px) {

    #item-article .article-h1-title {
      padding-top: 92px;
      font-size: 2em !important;
    }
  }

  .top-left-part{
	width:115px !important;
	float:none;
  }

  .navbar-toggle{
	color: #0aa9f3 !important;
  }
  .navbar-header .navbar-toggle:focus,.navbar-header .navbar-toggle:hover{
	background:#03a9f3 !important;
	color: #ffffff !important;
  }