{% extends 'admin-base.html.twig' %}
{%  block css %}
<link rel="stylesheet" href="{{asset('admin/plugins/bower_components/dropify/dist/css/dropify.min.css')}}">
{% endblock %}
{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Modification de cours/<a href="{{path('admin_course_list')}}" class="btn btn-default">Retour</a> </h4> 
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="white-box">
                        <br/>
                        <div id="responseMessage" class="d-none"></div>
                        <div id="courseId" class="d-none">{{course.id}}</div>
                        <form  id="addForm" action="{{path('course_new')}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-label">Titre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title"  placeholder="{{course.title}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="abstract" class="col-sm-2 col-form-label">Resumé</label>
                                <div class="col-sm-10">
                                    <textarea   rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " class="form-control" id="abstract" placeholder="{{course.abstract}}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="abstract" class="col-sm-2 col-form-label">Contenu</label>
                                <div class="col-sm-10">
                                    <div id="videoMessage" class="d-none"></div>
                                    <input type="file"  name="content" class="dropify-fr" id="content" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                <button type="submit" id="submit"  class="btn btn-primary">Modifier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
{%  endblock %}
{% block script %}
 <script src="{{asset('admin/js/custom.min.js')}}"></script>
 <script type="text/javascript" src="{{asset('web/js/image-uploader.js')}}"></script>
<!-- jQuery file upload -->
<script src="{{asset('admin/plugins/bower_components/dropify/dist/js/dropify.min.js')}}"></script>
{# <script src="{{asset('web/js/dropzone.js')}}"></script> #}
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });

</script>
<script>
	var responseMessage=document.getElementById("responseMessage");
	var videoMessage=document.getElementById("videoMessage");
	$("#content").change(function() {
		var file = this.files[0];
		if(isVideo(file['name']))
		{
			videoMessage.innerHTML="";
			videoMessage.setAttribute('class','');
		}
		else
		{
			videoMessage.innerHTML="Le contenu doit être une video";
			videoMessage.setAttribute('class','alert alert-danger');
			$("#content").val('');
		}
		//console.log('the files', this.files)
	});
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
	function isVideo(filename) {
		var ext = getExtension(filename);
		switch (ext.toLowerCase()) {
			case 'm4v':
			case 'avi':
			case 'mpg':
			case 'mp4':
			// etc
			return true;
		}
		return false;
	}
	
	$('#addForm').submit(function(e){
		e.preventDefault();
		e.stopPropagation();
		var file=document.getElementById('content').files[0];
		var id=$('#courseId').html();
        console.log('the id',id);
        var fd=new FormData();
        fd.append('content',file);
        fd.append('id',id);
        fd.append('title',$('#title').val());
        fd.append('abstract',$('#abstract').val());
        AjaxFileFunction(fd);
	});
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('admin_course_edit')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			var result=JSON.parse(data);
            if(result.data.statut==200)
            {
                responseMessage.innerHTML=result.data.message;
			    responseMessage.setAttribute('class','alert alert-success');
            }
			else
            {
                console.log('the message',result.data.message);
            }
			
		});
    }
	$(document).ajaxSend(function(event, request, settings) {
		$('#loading-indicator').show();
	});

	$(document).ajaxComplete(function(event, request, settings) {
		$('#loading-indicator').hide();
	});
</script> 
 {% endblock %}