{% extends 'admin-base.html.twig' %}
{%  block css %}
    <link href="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Liste des cours</h4> 
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="white-box">
                        <div class="row" >
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead style="background-color:#03a9f3">
                                        <tr >
                                            <th style="color: white">N°</th>
                                            <th style="color: white" >Auteur</th>
                                            <th style="color: white" >Titre</th>
                                            <th style="color: white" >Résumé</th>
                                            <th style="color: white" >Classe</th>
                                            <th style="color: white" >Commentaire</th>
                                            <th style="color: white" >Contenu</th>
                                            <th style="color: white" >Annexe</th>
                                            <th style="color: white" class="text-nowrap" >Action</th> 
                                        </tr>
                                    </thead>
                                    <tbody id="dataContent" class="table table-bordered">
                                        {% if courses != null %} 
                                            {% set compteur = 0 %}
                                            
                                            {% for course in courses  %}
                                                {% if course.deleted != "true" %}
                                                    {% set compteur=compteur+1%}
                                                    <tr>
                                                        <td style="color:black">{{compteur}}</td>
                                                        <td class="text-center">{{course.teacher.firstName}}{{" "}}{{course.teacher.name}}<a href="#" data-toggle="modal" data-target="#teacherModal{{course.id}}" title="Consulter"><i class="fa fa-plus-square"></i></a></td>
                                                        <td style="color:black">{{course.title}}</td>
                                                        <td class="text-center">  <a href="#" data-toggle="modal" data-target="#abstractModal{{course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a></td>
                                                        <td style="color:black">
                                                            {% for courseRoom in course.courseRooms %}
                                                                {{courseRoom.room.designation}}
                                                            {% endfor %}
                                                        </td>
                                                        <td class="text-center"> 
                                                            {% if course.comment %}
                                                                <a href="#" data-toggle="modal" data-target="#showCommentModal{{course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a>
                                                            {% else %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center"> <a href="{{path('admin_course_show',{'id':course.id})}}"  title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Consulter</i></span></a></td>
                                                        <td style="color:black">
                                                            {% if course.annexes != null %}
                                                                {{course.annexes|length }}
                                                                {% set break = false %}
                                                                {% set i = 0 %}
                                                                {% for annexe in course.annexes if not break %}
                                                                    {{annexe.title}}<a href="#" data-toggle="modal" data-target="#annexeModal{{annexe.id}}" title="Consulter"><i class="fa fa-plus-square"></i></a>
                                                                     <div id="annexeModal{{annexe.id}}" class="modal fade" role="dialog">
                                                                        <div i class="modal-dialog" >
                                                                            <div class="modal-content">
                                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                                    <span class="modal-title" id="myModalLabel">
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">
                                                                                            </div>
                                                                                            <h4 style="color:white" ><strong >Les annexes du cours</strong></h4>
                                                                                        </div> 
                                                                                    </span> 
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    {% for currentAnnexe in course.annexes %}
                                                                                    <div class="row">
                                                                                        <div class="col-6">
                                                                                            {{currentAnnexe.title}}
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            {% if currentAnnexe.file %}
                                                                                                <a href="{{asset('data/' ~ currentAnnexe.file)}}"  download="{{asset('data/' ~ currentAnnexe.file)}}" ><i class="fa fa-download">Télécharger</i></a>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                   {% endfor %}
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                                </div>
                                                                            </div>
                                                                            <!-- /.modal-content -->
                                                                        </div>
                                                                    </div>
                                                                    {% set i = i+1 %}
                                                                    {% if i==1 %}
                                                                        {% set break = true %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                0
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-nowrap">   
                                                            <a href="{{path('admin_course_edit_form',{'id':course.id})}}" data-toggle="tooltip" data-original-title="modifier"><span class="btn btn-default"><i class="fa fa-pencil text-inverse"></i></span> </a>
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal{{course.id}}"  title="supprimer"><span class="btn btn-default"><i class="fa fa-trash text-danger"></i></span> </a>
                                                            {% if course.validated != "true" %}
                                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#validateModal{{course.id}}"  title="activer"><span class="btn btn-default"><i class="fa fa-hand-o-up text-succes"></i></span> </a>                                                             
                                                            {% else %}
                                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#unValidateModal{{course.id}}"  title="désactiver"><span class="btn btn-default"><i class="fa fa-hand-o-down text-danger"></i></span> </a>                                                             
                                                            {% endif %}
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#commentModal{{course.id}}"  title="supprimer"><span class="btn btn-default"><i class="fa fa-comment"></i></span> </a>
                                                        </td>
                                                    </tr>
                                                    <!-- Modal -->
                                                    <div id="commentModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div i class="modal-dialog" >
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <h4 style="color:white" ><strong >Commentaire</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div id="responseMessage{{course.id}}" class="d-none"></div>
                                                                            <form id="commentForm" method="POST">    
                                                                                <textarea required="true"  rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " class="form-control" id="comment{{course.id}}" placeholder="Ajouter un commentaire sur le cours"></textarea>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="beforeAddComment({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Ajouter</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="unValidateModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment désactiver le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="validateModal{{course.id}}"  class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content" >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment activer le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="deleteModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment supprimer le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="deleteCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal -->
                                                    <!-- Modal -->
                                                    <div id="abstractModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div i class="modal-dialog" >
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Résumé du cours</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            {{course.abstract}}
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>

                                                    <div id="showCommentModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div i class="modal-dialog" >
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Commentaire</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            {{course.comment}}
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                   
                                                    <!-- /Modal -->
                                                    <!-- Modal -->
                                                    <div id="teacherModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Information sur le créateur du cours</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Email
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.account.email}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Nom
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.name}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Prenoms
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.firstName}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Telephone
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.phone}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Type de compte
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {% if is_granted('ROLE_TEACHER') %}
                                                                                        {{'ENSEIGNANT'}}
                                                                                    {% else %}
                                                                                        {% if is_granted('ROLE_STUDENT')%}
                                                                                            {{'ETUDIANT'}}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal --> 
                                                {% endif %}                                                        
                                            {% endfor %}
                                        {% else %}
                                            {# <tr>
                                                <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
                                            </tr> #}
                                        {% endif %}

                                    </tbody>     
                                </table>
                                <!-- Modal -->
                          </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{%  endblock %}
{% block script %}
 <script src="{{asset('admin/js/custom.min.js')}}"></script>
 <script src="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
 <script>
    $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
    } );
    } );
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
    <script>
        function beforeAddComment(id)
        {
            var comment=$("#comment"+id).val()
            if(comment!="")
            {
                addComment(comment,id);
            }
            else
            {
                document.getElementById('responseMessage'+id).innerHTML="veuillez remplir le champ";
                document.getElementById('responseMessage'+id).setAttribute('class','alert alert-danger');
                //affichage de message d'erreur
            }
        }
        function addComment(comment,id)
        {
            var currentId=id;
            $.ajax({
                type:'POST',
                dataType:'html',
                url:"{{path('admin_course_edit')}}",
                data:{'comment':comment,'id':id},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#commentModal'+currentId).modal('hide');
                    swal({
                        text: "commentaire ajoutéé avec succes",
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                    $('#commentModal'+currentId).modal('show');
                }
                else
                {
                    console.log('the message',result.data.message);
                }
            });
        }
        function deleteCourse(id){
            var path="{{path('admin_course_delete')}}";
            AjaxFunction(id,path);
        }
        function validateCourse(id){
            var path="{{path('admin_course_validate_or_not')}}";
            AjaxFunction(id,path);
        }
        function AjaxFunction(id,path){
            $.ajax({
                type:'POST',
                dataType:'html',
                url:path,
                data:{'id':id},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#deleteModal'+id).modal('hide');
                    $('#validateModal'+id).modal('hide');
                    $('#unValidateModal'+id).modal('hide');
                    //$('#deleteModal'+id).modal('show');
                    swal({
                        text: result.data.message,
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                    console.log('good modal');
                    showModals();
                }
                else
                {
                    console.log(result.data.message);
                }
            });
        }
        function showModals()
        {
            $('#validateModal'+id).modal('show');
            $('#unValidateModal'+id).modal('show');
            console.log("showModals called")
        }
        function updateTable()
        {
            $.ajax({
                type:'GET',
                dataType:'html',
                url:"{{path('admin_course_list_update')}}",
            }).then(function(data){
                $('#dataContent').html('');
                $('#dataContent').html(data);
                showModals();
            });
        }
    </script>
    <!--Style Switcher -->
{% endblock %}