{% extends 'admin-base.html.twig' %}
{%  block css %}
    <link href="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Liste des cours</h4> 
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="white-box">
                        <div class="row" >
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead style="background-color:#03a9f3">
                                        <tr >
                                            <th style="color: white">N°</th>
                                            <th style="color: white" >Auteur</th>
                                            <th style="color: white" >Titre</th>
                                            <th style="color: white" >Résumé</th>
                                            <th style="color: white" >Contenu</th>
                                            <th style="color: white" >Annexe</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dataContent" class="table table-bordered">
                                        {% if courses != null %} 
                                            {% set compteur = 0 %}
                                            {% for course in courses  %}
                                                {% if course.deleted != "true" %}
                                                    {% set compteur=compteur+1%}
                                                    <tr>
                                                        <td style="color:black">{{compteur}}</td>
                                                        <td class="text-center">  <a href="#" data-toggle="modal" data-target="#teacherModal{{course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a></td>
                                                        <td style="color:black">{{course.title}}</td>
                                                        <td class="text-center">  <a href="#" data-toggle="modal" data-target="#abstractModal{{course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a></td>
                                                        <td class="text-center"> <a href="javascript:void(0)" data-toggle="modal" data-target="#contentModal{{course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a></td>
                                                        <td style="color:black">{{"#"}}</td>
                                                    </tr>
                                                    <!-- Modal -->
                                                    <div id="unValidateModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment désactiver le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="validateModal{{course.id}}"  class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content" >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment activer le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="deleteModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment supprimer le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="deleteCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal -->
                                                    <!-- Modal -->
                                                    <div id="contentModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Contenu du cours</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="embed-responsive embed-responsive-16by9">
                                                                        <iframe class="embed-responsive-item" src="{{asset('data/' ~ course.content)}}" ></iframe>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal -->
                                                    <!-- Modal -->
                                                    <div id="abstractModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div i class="modal-dialog" >
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Résumé du cours</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{course.abstract}}
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal -->
                                                    <!-- Modal -->
                                                    <div id="teacherModal{{course.id}}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                            </div>
                                                                            <h4 style="color:white" ><strong >Information sur le créateur du cours</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Email
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.account.email}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Nom
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.name}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Prenoms
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.firstName}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Telephone
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {{course.teacher.phone}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    Type de compte
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    {% if is_granted('ROLE_TEACHER') %}
                                                                                        {{'ENSEIGNANT'}}
                                                                                    {% else %}
                                                                                        {% if is_granted('ROLE_STUDENT')%}
                                                                                            {{'ETUDIANT'}}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal --> 
                                                {% endif %}                                                        
                                            {% endfor %}
                                        {% else %}
                                            {# <tr>
                                                <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
                                            </tr> #}
                                        {% endif %}

                                    </tbody>     
                                </table>
                                <!-- Modal -->
                          </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{%  endblock %}
{% block script %}
 <script src="{{asset('admin/js/custom.min.js')}}"></script>
 <script src="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
 <script>
    $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
    } );
    } );
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
    <!--Style Switcher -->
{% endblock %}