{% if users != null %} 
    {% set compteur = 0 %}
    {% for user in users  %}
        {% set compteur=compteur+1%}
         <tr>
            <td style="color:black">{{compteur}}</td>
            <td style="color:black">{{user.account.username}}</td>
            <td style="color:black">{{user.account.email}}</td>
            <td style="color:black">{{user.name}}</td>
            <td style="color:black">{{user.firstName}}</td>
            <td style="color:black">{{user.phone}}</td>                                                    
            <td style="color:black">
                {% for a in 0 .. user.account.roles|length-1 %}
                    {% if user.account.roles[a]=="ROLE_TEACHER" %}
                        {{"Enseignant"}}
                    {% else %}
                        {% if user.account.roles[a]=="ROLE_STUDENT" %}
                            {{"Etudiant"}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            <td  style="color:black">
                {% if user.roomUsers != null %}
                    {% for roomUser in user.roomUsers %}
                        {{roomUser.room.designation}}
                    {% endfor %}
                {% endif %}
            </td>
            <td style="color:black">{{user.address}}</td>
            <td class="text-nowrap">   
                {% if user.validated != "true" %}
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#validateModal{{user.id}}"  title="activer"><span class="btn btn-default"><i class="fa fa-hand-o-up text-succes"></i></span> </a>                                                             
                {% else %}
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#unValidateModal{{user.id}}"  title="désactiver"><span class="btn btn-default"><i class="fa fa-hand-o-down text-danger"></i></span> </a>                                                             
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    {# <tr>
        <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
    </tr> #}
{% endif %}
