{% extends 'admin-base.html.twig' %}
{%  block css %}
    <link href="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Liste des utilisateurs</h4> 
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="white-box">
                        <div class="row" >
                            {% set compteur = 0 %}
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead style="background-color:#03a9f3">
                                        <tr >
                                            <th style="color: white">N°</th>
                                            <th style="color: white" >Nom d'utilisateur</th>
                                            <th style="color: white" >Email</th>
                                            <th style="color: white" >Nom</th>
                                            <th style="color: white" >Prenoms</th>
                                            <th style="color: white" >telephone</th>
                                            <th style="color: white" >Classes</th>
                                            {# <th style="color: white" >Addresse</th> #}
                                            <th style="color: white" class="text-nowrap" >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dataContent" class="table table-bordered">
                                        {% if users != null %}                 
                                            {% for user in users %}
                                            {% set compteur=compteur+1%}
                                                <tr>
                                                    <td style="color:black">{{compteur}}</td>
                                                    <td style="color:black">{{user.account.username}}</td>
                                                    <td style="color:black">{{user.account.email}}</td>
                                                    <td style="color:black">{{user.name}}</td>
                                                    <td style="color:black">{{user.firstName}}</td>
                                                    <td style="color:black">{{user.phone}}</td>                                                    
                                                    <td  style="color:black">
                                                        {% if user.roomUsers != null %}
                                                            {% for roomUser in user.roomUsers %}
                                                                {{roomUser.room.designation}}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </td>
                                                    {# <td style="color:black">{{user.address}}</td> #}
                                                    <td class="text-nowrap">   
                                                        {% if user.validated != "true" %}
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#validateModal{{user.id}}"  title="activer"><span class="btn btn-default"><i class="fa fa-hand-o-up text-succes"></i></span> </a>                                                             
                                                        {% else %}
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#unValidateModal{{user.id}}"  title="désactiver"><span class="btn btn-default"><i class="fa fa-hand-o-down text-danger"></i></span> </a>                                                             
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <div id="unValidateModal{{user.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment désactiver l'utilisateur ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateUser({{user.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="validateModal{{user.id}}"  class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content" >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment activer l'utilisateur ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="validateUser({{user.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                <!-- Modal --> 
                                            <!-- /Modal -->
                                            
                                            {% endfor %}
                                        {% else %}
                                            {# <tr>
                                                <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
                                            </tr> #}
                                        {% endif %}

                                    </tbody>     
                                </table>
                                <!-- Modal -->
                          </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{%  endblock %}
{% block script %}
 <script src="{{asset('admin/js/custom.min.js')}}"></script>
 <script src="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
 <script>
    $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
    } );
    } );
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
    <script>
        function getRooms(id){
            console.log('good');
            $.ajax({
                type:'GET',
                dataType:'html',
                url:"{{path('admin_user_room_list')}}",
                data:{'id':id}
            }).then(function(data){
                $('#id').html(data);
            });
        }
        function validateUser(id){
            var path="{{path('admin_user_validate_or_not')}}";
            AjaxFunction(id,path);
        }
        function AjaxFunction(id,path){
            $.ajax({
                type:'POST',
                dataType:'html',
                url:path,
                data:{'id':id},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#deleteModal'+id).modal('hide');
                    $('#validateModal'+id).modal('hide');
                    $('#unValidateModal'+id).modal('hide');
                    //$('#deleteModal'+id).modal('show');
                    swal({
                        text: result.data.message,
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                    $('#validateModal'+id).modal('show');
                    $('#unValidateModal'+id).modal('show');
                }
                else
                {
                    console.log(result.data.message);
                }
            });
        }
        function updateTable()
        {
            $.ajax({
                type:'GET',
                dataType:'html',
                url:"{{path('admin_user_list_update')}}",
            }).then(function(data){
                $('#dataContent').html('');
                $('#dataContent').html(data);
                showModals();
            });
        }
    </script>
    <!--Style Switcher -->
    <script src="{{asset('admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
{% endblock %}