{% if courseRooms != null %} 
    {% set compteur = 0 %}
    
    {% for courseRoom in courseRooms  %}
        {% if courseRoom.course.deleted != "true" %}
            {% set compteur=compteur+1%}
            <tr>
                <td style="color:black">{{compteur}}</td>
                <td style="color:black">{{courseRoom.course.title}}</td>
                <td class="text-center">  <a href="#" data-toggle="modal" data-target="#abstractModal{{courseRoom.course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a></td>
                <td class="text-center"> 
                    {% if courseRoom.course.comment %}
                        <a href="#" data-toggle="modal" data-target="#showCommentModal{{courseRoom.course.id}}" title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Afficher</i></span></a>
                    {% else %}
                    {% endif %}
                </td>
                <td class="text-center"> <a href="{{path('teacher_course_show',{'id':courseRoom.course.id})}}"  title="Consulter"><span class="btn btn-default"><i class="fa fa-plus-square">Consulter</i></span></a></td>
                <td style="color:black">
                    {% if courseRoom.course.annexes != null %}
                        {{courseRoom.course.annexes|length }}
                        {% set break = false %}
                        {% set i = 0 %}
                        {% for annexe in courseRoom.course.annexes if not break %}
                            {{annexe.title}}<a href="#" data-toggle="modal" data-target="#annexeModal{{annexe.id}}" title="Consulter"><i class="fa fa-plus-square"></i></a>
                                <div id="annexeModal{{annexe.id}}" class="modal fade" role="dialog">
                                <div i class="modal-dialog" >
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#03a9f3">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                            <span class="modal-title" id="myModalLabel">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                    </div>
                                                    <h4 style="color:white" ><strong >Les annexes du cours</strong></h4>
                                                </div> 
                                            </span> 
                                        </div>
                                        <div class="modal-body">
                                            {% for currentAnnexe in courseRoom.course.annexes %}
                                            <div class="row">
                                                <div class="col-6">
                                                    {{currentAnnexe.title}}
                                                </div>
                                                <div class="col-6">
                                                    {% if currentAnnexe.file %}
                                                        <a href="{{asset('data/' ~ currentAnnexe.file)}}"  download="{{asset('data/' ~ currentAnnexe.file)}}" ><i class="fa fa-download">Télécharger</i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                            <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>
                            {% set i = i+1 %}
                            {% if i==1 %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td class="text-nowrap">   
                    <a href="{{path('teacher_course_edit_form',{'id':courseRoom.course.id})}}" data-toggle="tooltip" data-original-title="modifier"><span class="btn btn-default"><i class="fa fa-pencil text-inverse"></i></span> </a>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal{{courseRoom.course.id}}"  title="supprimer"><span class="btn btn-default"><i class="fa fa-trash text-danger"></i></span> </a>
                </td>
            </tr>
            <!-- Modal -->
        {% endif %}                                                        
    {% endfor %}
{% else %}
    {# <tr>
        <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
    </tr> #}
{% endif %}