{% extends 'teacher-base.html.twig' %}
{%  block css %}
{% endblock %}
{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Contenu du cours/<a href="{{path('admin_course_list')}}" class="btn btn-default">Retour</a></h4> 
                </div>
            </div>
            <section class="other_services py-5">
                <div id="courseId" class="d-none">{{course.id}}</div>                
                <div class="white-box">
                    <div class="container py-lg-5 py-3">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <h4 class=""><img src="{{asset('web/images/s1.png')}}" class="img-fluid" alt="">{{course.title}}</h4>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="row">
                                    <div class="col-6">
                                    <div class="heading mb-sm-5 mb-4 search-container">
                                        <button style="align:center" data-toggle="modal" data-target="#commentModal"  class="btn btn-primary">Donner votre avis</button>                
                                    </div>
                                    </div>
                                    <div id="validateOrNot" class="col-6">
                                        {% if course.validated != 'true'%}
                                            <div class="heading mb-sm-5 mb-4 search-container">
                                                <button style="align:center" data-toggle="modal" data-target="#validateModal"  class="btn btn-success">Activer le cours</button>                
                                            </div>
                                        {% else %}
                                            <div class="heading mb-sm-5 mb-4 search-container">
                                                <button style="align:center" data-toggle="modal" data-target="#unValidateModal"  class="btn btn-danger">Désactiver le cours</button>                
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        {# <h3 class="heading mb-sm-5 mb-4">Nos cours</h3> #}
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="grid">
                                    <video width="800" height="400"  controls>
                                        <source src="{{asset('data/' ~ course.content)}}" type="video/mp4"/>
                                        Le fichier video ne peut pas être lu
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services py-5">
                <div class="white-box">
                    <div class="container">
                        <h3 class="heading mb-5">Résumé</h3>
                        <div class="row ml-sm-5">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="our-services-wrapper mb-60">
                                    <div class="services-inner">
                                        <div class="our-services-text">
                                            {{course.abstract}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
            <section class="services py-5">
                <div class="white-box">
                    <div class="container">
                        <h3 class="heading mb-5">les documents annexes</h3>
                        <div class="row ml-sm-5">
                            {% if course.annexes != null %}
                                {% for annexe in course.annexes %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="our-services-wrapper mb-60">
                                            <div class="services-inner">
                                                <div class="our-services-img">
                                                    <img src="{{asset('web/images/s1.png')}}" alt="">
                                                </div>
                                                <div class="our-services-text">
                                                    <h4>{{annexe.title}}</h4>
                                                    <a style="align:center" href="{{asset('data/' ~ annexe.file)}}" download="{{asset('data/' ~ annexe.file)}}" type="button" ><i class="fa fa-download"></i>Télécharger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- positioned image -->
                        <div class="position-image">
                            <img src="{{asset('web/images/services.png')}}" alt="" class="img-fluid">
                        </div>
                        <!-- //positioned image -->
                    </div>
                </div>
            </section> 
        </div>
    </div>
    <div id="commentModal" class="modal fade" role="dialog">
        <div i class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header" style="background-color:#03a9f3">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                    <span class="modal-title" id="myModalLabel">
                        <div class="row">
                            <h4 style="color:white" ><strong >Commentaire</strong></h4>
                        </div> 
                    </span> 
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="responseMessage" class="d-none"></div>
                            <form id="commentForm" method="POST">    
                                <textarea required="true"  rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " class="form-control" id="comment" placeholder="Ajouter un commentaire sur le cours"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addCommentBtn" class="btn btn-outline-info waves-effect btn-rounded waves-light">Ajouter</button>                                                    
                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- Modal -->
    <div id="unValidateModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-header" style="background-color:red">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                <span class="modal-title" id="myModalLabel">
                    <div class="row">
                        <h4 style="color:white" ><strong >confirmation de désactivation</strong></h4>
                    </div> 
                </span> 
            </div>
            <div class="modal-content"  >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{"Voulez vous vraiment désactiver le cours ?"}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <div id="validateModal"  class="modal fade" role="dialog">
        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
             <div class="modal-header" style="background-color:#32D7AA">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                <span class="modal-title" id="myModalLabel">
                    <div class="row">
                        <h4 style="color:white" ><strong >confirmation d'activation</strong></h4>
                    </div> 
                </span> 
            </div>
            <div class="modal-content" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{"Voulez vous vraiment activer le cours ?"}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="validateCourse({{course.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
     {# modal #}
    {# end modal #}
{%  endblock %}
{% block script %}
<script src="{{asset('admin/js/custom.min.js')}}"></script>
<script>
    $("#addCommentBtn").click(function(e){
        var comment=$("#comment").val()
        if(comment!="")
        {
            var id=$('#courseId').html();
            addComment(comment,id);
        }
        else
        {
            responseMessage.innerHTML="veuillez remplir le champ";
            responseMessage.setAttribute('class','alert alert-danger');
            //affichage de message d'erreur
        }
    });
    function addComment(comment,id)
    {
        $.ajax({
            type:'POST',
            dataType:'html',
            url:"{{path('admin_course_edit')}}",
            data:{'comment':comment,'id':id},
        }).then(function(data){
            var result=JSON.parse(data);
            if(result.data.statut==200)
            {
                $('#commentModal').modal('hide');
                swal({
                    text: "commentaire ajoutéé avec succes",
                    icon: "success",
                    buttons: "ok",
                });
            }
            else
            {
                console.log('the message',result.data.message);
            }
        });
    }
    function deleteCourse(id){
        var path="{{path('admin_course_delete')}}";
        AjaxFunction(id,path);
    }
    function validateCourse(id){
        var path="{{path('admin_course_validate_or_not')}}";
        AjaxFunction(id,path);
    }
    function AjaxFunction(id,path){
        $.ajax({
            type:'POST',
            dataType:'html',
            url:path,
            data:{'id':id},
        }).then(function(data){
            var result=JSON.parse(data);
            if(result.data.statut==200)
            {
                $('#unValidateModal').modal('hide');
                $('#validateModal').modal('hide');
                swal({
                    text: result.data.message,
                    icon: "success",
                    buttons: "ok",
                });
                console.log(result);
                $('#unValidateModal').modal('show');
                $('#validateModal').modal('show');
                if(result.data.validated==true)
                {
                    $('#validateOrNot').html(`
                        <div class="heading mb-sm-5 mb-4 search-container">
                            <button style="align:center" data-toggle="modal" data-target="#unValidateModal"  class="btn btn-danger">Désactiver le cours</button>                
                        </div>
                    `);    
                }
                else
                {
                    $('#validateOrNot').html(`
                        <div class="heading mb-sm-5 mb-4 search-container">
                            <button style="align:center" data-toggle="modal" data-target="#validateModal"  class="btn btn-success">Activer le cours</button>                
                        </div>
                    `);  
                }
            }
            else
            {
                console.log(result.data.message);
            }
        });
    }
</script>
    <!--Style Switcher -->
{% endblock %}