<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
	<title>Child Learn Education Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Child Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	<!-- css files -->
	{# <link href="{{asset('web/css/dropzone.css')}}" rel="stylesheet"> #}
	<link href="{{asset('web/select2/dist/css/select2.min.css')}}" rel="stylesheet" />
	<link href="{{asset('admin/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css')}}" rel="stylesheet">
	<!-- Menu CSS -->
	<link href="{{asset('admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <link href="{{asset('web/css/bootstrap.css')}}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{{asset('web/css/style.css')}}" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="{{asset('web/css/css_slider.css')}}" type="text/css" rel="stylesheet" media="all">
    <link href="{{asset('web/css/font-awesome.min.css')}}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	{% block css %}
	{% endblock %}
</head>
{% endblock %}
<body>
<!-- header -->
{% block header %}
{% block underHeader %}
{% endblock %}
<header id="header" style="">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="index.html">Acceuil</a></li>
				{% if is_granted('ROLE_USER') %}
					<li class="dropdown">
					<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)">Les cours</a>
					<ul class="dropdown-menu dropdown-user animated flipInY">
						<li><a href="{{path('course_list_by_user')}}"><i class="fa fa-navicon"></i>Liste</a></li>
						{% if is_granted('ROLE_TEACHER')%}
						<li role="separator" class="divider"></li> 
						<li><a href="{{path('course_new')}}"><i class="fa fa-plus-square"></i>Ajouter</a></li>
						{% endif %}
					</ul>
					<!-- /.dropdown-user -->
				</li>
				{% endif %}
				{# <li class=""><a href="#subscribe">Souscrire</a></li> #}
				{% if is_granted('ROLE_USER') %}
				<li class="dropdown">
					<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href=""> <span class="img img-circle glyphicon glyphicon-user"></span> <b class="hidden-xs">{{app.user.username}}</b> </a>
					<ul class="dropdown-menu dropdown-user animated ">
						<li><a href="{{path('user_show')}}"><i class="ti-user"></i> Mon Profile</a></li>
						<li role="separator" class="divider"></li> 
						<li><a href="{{path('logout')}}"><i class="fa fa-power-off"></i>déconecter</a></li>
					</ul>
					<!-- /.dropdown-user -->
				</li>
				{% else %}
				<li><a href="#" title="Se Connecter ou s'Inscrire"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{path('admin_index')}}" title="Se Connecter ou s'Inscrire"><span class="fa fa-cog" aria-hidden="true"></span>paramètres</a></li>					
				{% else %}
					{% if is_granted('ROLE_TEACHER') %}
						<li><a href="{{path('teacher_index')}}" title="Se Connecter ou s'Inscrire"><span class="fa fa-cog" aria-hidden="true"></span>paramètres</a></li>					
					{% endif %}
				{% endif %}
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}

<!-- //header -->
{% block banner %}
<!-- banner -->
<div class="banner" id="home">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 banner-text-w3pvt">
					<!-- banner slider-->
					<div class="csslider infinity" id="slider1">
						<input type="radio" name="slides" checked="checked" id="slides_1" />
						<input type="radio" name="slides" id="slides_2" />
						<input type="radio" name="slides" id="slides_3" />
						<ul class="banner_slide_bg">
							<li>
								<div class="container-fluid">
									<div class="w3ls_banner_txt">
										<h3 class="b-w3ltxt text-capitalize mt-md-4">Cours en ligne</h3>
										<h4 class="b-w3ltxt text-capitalize mt-md-2">L'école du partage</h4>
										<p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
								 Vestibulum ante. Morbi at dui nisl.</p>
										<a href="#about" class="btn btn-banner my-3">Read More</a>
									</div>
								</div>
							</li>
							<li>
								<div class="container-fluid">
									<div class="w3ls_banner_txt">
										<h3 class="b-w3ltxt text-capitalize mt-md-4">Education Courses.</h3>
										<h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
										<p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
								 Vestibulum ante. Morbi at dui nisl.</p>
										<a href="#about" class="btn btn-banner my-3">Read More</a>
									</div>
								</div>
							</li>
							<li>
								<div class="container-fluid">
									<div class="w3ls_banner_txt">
										<h3 class="b-w3ltxt text-capitalize mt-md-4">Education Courses.</h3>
										<h4 class="b-w3ltxt text-capitalize mt-md-2">Study For Better Future</h4>
										<p class="w3ls_pvt-title my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
								 Vestibulum ante. Morbi at dui nisl.</p>
										<a href="#about" class="btn btn-banner my-3">Read More</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="navigation">
							<div>
								<label for="slides_1"></label>
								<label for="slides_2"></label>
								<label for="slides_3"></label>
							</div>
						</div>
					</div>
					<!-- //banner slider-->
				</div>
				<div class="col-lg-5 col-md-8 px-lg-3 px-0">
					<div class="banner-form-w3 ml-lg-5">
							<!-- banner form -->
					{% if is_granted('ROLE_TEACHER')%}
					{% else %}
						{% if is_granted('ROLE_STUDENT') %}
						{% else %}
							<div class="padding" id="formZone">
							{% if is_granted('ROLE_USER')%}
								<form id="completeForm" action="#" method="post">
									<h5 class="mb-3">Rejoignez notre école</h5>
									<div id="responseMessage" class="d-none">
									</div>
									<div>
										<span>Veuillez completer votre profil</span>
									</div>
									<div class="form-style-w3ls">
										<input placeholder="Nom" id="name" name="name" type="text" required="true">
										<input placeholder="Prenoms" id="firstName" name="firstName" type="text" required="true">
										<input placeholder="Telephone" id="phone" name="phone" type="text" required="true">
										<select id="type" name="type" required="true">
											<option value="">Type de compte</option>
											<option value="ROLE_STUDENT">Etudiant</option>
											<option value="ROLE_TEACHER">Enseignant</option>
										</select>
										<label>Choisissez votre classe</label>
										<select id="rooms" name="rooms[]" class="js-example-basic-multiple" placeholder="cliquer ici" multiple="multiple" required="true">
										</select>
										<br><br>
										<button type="submit" Class="btn"> Soumettre</button><br><br>
									</div>
								</form>
								{% else %}
								<form id="registerForm" class="d-none" action="#" method="post">
									<h5 class="mb-3">Rejoignez notre école</h5>
									<div id="responseMessage" class="d-none">
									</div>
									<div>
										<span>Vous avez déja un compte?  <a href="javascript:void(0)" onclick="showRegisterOrConnectForm()">Se connecter</a></span>
									</div>
									<div class="form-style-w3ls">
										<input placeholder="Identifiant" id="rUsername" name="username" type="text" required="true">
										<input placeholder="Email"  id="rEmail" name="email" type="email" required="true">
										<input placeholder="Mot de passe" id="rPassword" name="password" type="password" required="true">
										<input placeholder="Répéter le mot de passe" id="rRpassword" name="rpassword" type="password" required="true">
										<button type="submit" Class="btn"> Soumettre</button><br><br>
										<span>En vous inscrivant, vous acceptez nos  <a href="#">Conditions d'utilisations.</a></span>																		
									</div>
								</form>
								<form id="connectForm" action="{{path('login')}}" method="POST" autoComplation="false" class="" action="#" method="post">
								</form>
								<!-- //banner form -->
							{% endif %}
							</div>
						{% endif %}
					{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
{% endblock %}
{% block content %}
{% endblock %}

<!-- //footer -->
<!-- copyright -->
<section class="copyright">
	<div class="container py-4">
		<div class="row bottom">
			<ul class="col-lg-6 links p-0">
				<li><a href="#why" class="">Why Choose Us</a></li>
				<li><a href="#services" class="">Services </a></li>
				<li><a href="#team" class="">Teachers </a></li>
				<li><a href="#testi" class="">Testimonials </a></li>
			</ul>
			<div class="col-lg-6 copy-right p-0">
				<p class="">© 2019 Child Learn. All rights reserved | Design by
					<a href="#"> W3layouts.</a>
				</p><section class="services py-5" id="courses">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
	      	</div>
    	</div>
  </div>  
</section>
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<script src="{{asset('admin/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{asset('web/select2/dist/js/select2.min.js')}}"></script>
<script src="{{asset('admin/bootstrap/dist/js/tether.min.js')}}"></script>
<script src="{{asset('admin/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{asset('admin/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js')}}"></script>
<script src="{{asset('admin/js/sweetalert.min.js')}}"></script>
<script>
	let $register=document.getElementById('registerForm');
	let $connect=document.getElementById('connectForm');
	let $responseMessage=document.getElementById('responseMessage');
	function jsLogin(){
		$.ajax({
			'type':'GET',
			'dataType':'html',
			'url':'{{path('login')}}'
		}).then(function(data){
			$('#connectForm').html(data);
		});
	}
	{% block loader %}
		window.onload=jsLogin;
	{% endblock %}
	$('#rooms').load("{{path('room_index')}}");
	$('#completeForm').submit(function(e){
		e.stopPropagation();
		e.preventDefault();
		$name=$('#name').val();
		$firstName=$('#firstName').val();
		$phone=$('#phone').val();
		$rooms=$('#rooms').val();
		$type=$('#type').val();
		
		$.ajax({
			'type':'POST',
			'dataType':'html',
			'url':'{{path('user_new')}}',
			'data':{'name':$name,'firstName':$firstName,'phone':$phone,'type':$type,'rooms':$rooms}
		}).then(function(){
			var url="{{path('index')}}";
			window.location=url;
		});
		
		
	});
	$('#registerForm').submit(function(e){
		e.stopPropagation();
		e.preventDefault();
		$email=$('#rEmail').val();
		$username=$('#rUsername').val();
		$password=$('#rPassword').val();
		$rPassword=$('#rRpassword').val();
		
		if($email && $username && $password && $rPassword)
		{
			if($password == $rPassword)
			{
				$.ajax({
					'type':'POST',
					'dataType':'html',
					'url':"{{path('register')}}",
					'data':{'email':$email,'password':$password,'username':$username,},
				}).then(function(data){
					$result=JSON.parse(data);
					if($result.data.statut==200)
					{
						console.log('good');
						var url="{{path('index')}}";
						window.location=url;
						$('#responseMessage').html(`<span style="color:green">super vous êtes connectées</span>`);				
						$responseMessage.setAttribute('class','');
					}
					if($result.data.statut==500)
					{
						$('#responseMessage').html(`<span style="color:red">`.concat($result.data.message,`</span>`));				
						$responseMessage.setAttribute('class','');
					}
				});
			}
			else
			{
				$('#responseMessage').html(`<span style="color:red">les deux mot de passe doivent correspondre</span>`);
				$responseMessage.setAttribute('class','');
			}

		}
		else
		{
			$('#responseMessage').html(`<span style="color:red">veuillez remplir tous les champs</span>`);
			$responseMessage.setAttribute('class','');
		}
	});
	$(document).ready(function() {
		$('#rooms').select2();
	});
	function showRegisterOrConnectForm(){
		if($register)
		{
			if($register.getAttribute('class')=="d-none"){
			$register.setAttribute('class','')
			$connect.setAttribute('class','d-none')
			}
			else{
				$register.setAttribute('class','d-none')
				$connect.setAttribute('class','')
			}
		}
		else if($connect)
		{
			if($connect.getAttribute('class')=="d-none"){
			$connect.setAttribute('class','')
			$register.setAttribute('class','d-none')
			}
			else{
				$connect.setAttribute('class','d-none')
				$register.setAttribute('class','')
			}
		}
		
	}
</script>
{% block script %}
{% endblock %}
</body>
</html>