<!DOCTYPE HTML>
<html>
	<head>
    {%  block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('web/images/s2.png')}}">
		<title>E-learning</title>
		<!-- Bootstrap Core CSS -->
		<link href="{{asset('admin/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('admin/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css')}}" rel="stylesheet">
		<link href="{{asset('admin/css/personnel_swt.css')}}" rel="stylesheet">
		<!-- Menu CSS -->
		<link href="{{asset('admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
		<!-- toast CSS -->
		<link href="{{asset('admin/plugins/bower_components/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
		<!-- morris CSS -->
		<link href="{{asset('admin/plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
		<!-- animation CSS -->
		<link href="{{asset('admin/css/animate.css')}}" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{{asset('admin/css/style.css')}}" rel="stylesheet">
		<link href="{{asset('admin/css/personnel.css')}}" rel="stylesheet">
		<!-- color CSS -->
		<link href="{{asset('admin/css/colors/gray.css')}}" id="theme" rel="stylesheet">
		{%  block css %}{% endblock %}
	{% endblock %}
	</head>

<body >
{% block body %}
<!-- header -->
{% block header %}
	<!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div> 
    {# <style>
        .navbar-header {
            border-bottom: 2px solid #03a9f3;
        }
    </style> #}
    <div id="wrapper">
		<!-- Navigation -->
        <nav class="navbar  navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> 
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg" id="myMenu" href="" data-toggle="collapse" data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>	
                <span class="top-left-part">
					<a class="logo" href="{{path('teacher_index')}}">
						<h3>
						<img src="{{asset('web/images/learn-logo.png')}}" alt="home" style="height: 6vh;" />
					</a>
				</span>
                <ul class="nav navbar-top-links navbar-right pull-right">
					{% if is_granted('ROLE_USER') %}
					<li><a  href="{{path('index')}}"> <span class="fa fa-home"></span> <b class="hidden-xs">Acceuil</b> </a></li>
					<li class="dropdown">
						<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href=""> <span class="img img-circle glyphicon glyphicon-user"></span> <b class="hidden-xs">{{app.user.username}}</b> </a>
						<ul class="dropdown-menu dropdown-user animated flipInY">
							<li><a href="#" ><i class="ti-user"></i> Mon Profile</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{path('user_show')}}"><i class="ti-settings"></i> Parametres de compte</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{path('logout')}}"><i class="fa fa-power-off"></i> Se déconnecter</a></li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					{% endif %}
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
		 <!-- Left navbar-header -->
        {# sidebar #} 
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> 
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span>
                         </div>
                        <!-- /input-group -->
                    </li>
					<br/>
					<br/>
                    {% if is_granted('ROLE_TEACHER') %}
						<li> <a href="#" class="waves-effect"> Classes de cours <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right"></span></span></a>
                            <ul id="rooms" class="nav nav-second-level">
                            </ul>
                        </li>       
                    {% endif %}
            </div>
        </div>
        <!-- Left navbar-header end -->
	</div>
    {% endblock %}
	{% block banner %}
	{% endblock %}
    <div id="contenu-base-admin">
	{% block content %}
	{% endblock %}
    </div>
	<!-- footer -->
	{% block footer %}
        <footer class="footer text-center" style="background: #232323; font-size: 12px; color: #03a9f3; ">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-body">
                        <p class="text-center">
                            Copyright &copy; E-learning 2020
                        </p>
                    </div>
                </div>
            </div>
        </footer>

		<!-- jQuery -->
		<script src="{{asset('admin/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
		<script src="{{asset('admin/js/sweetalert.min.js')}}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{{asset('admin/bootstrap/dist/js/tether.min.js')}}"></script>
		<script src="{{asset('admin/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('admin/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js')}}"></script>
		<!-- Menu Plugin JavaScript -->
		<script src="{{asset('admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
		<!--slimscroll JavaScript -->
		<script src="{{asset('admin/js/jquery.slimscroll.js')}}"></script>
		<!--Wave Effects -->
		<script src="{{asset('admin/js/waves.js')}}"></script>
		<!--Counter js -->
		<script src="{{asset('admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js')}}"></script>
		<script src="{{asset('admin/plugins/bower_components/counterup/jquery.counterup.min.js')}}"></script>
		<!--Morris JavaScript -->
		<script src="{{asset('admin/plugins/bower_components/raphael/raphael-min.js')}}"></script>
		<script src="{{asset('admin/plugins/bower_components/morrisjs/morris.js')}}"></script>
		<!-- Custom Theme JavaScript -->
		<script src="{{asset('admin/js/custom.min.js')}}"></script>
		<script src="{{asset('admin/js/dashboard1.js')}}"></script>
		<!-- Sparkline chart JavaScript -->
		<script src="{{asset('admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')}}"></script>
		<script src="{{asset('admin/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js')}}"></script>
		<script src="{{asset('admin/plugins/bower_components/toast-master/js/jquery.toast.js')}}"></script>
		<!--Style Switcher -->
		<script src="{{asset('admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
		<script>
			$('#rooms').load("{{path('teacher_room_display_name')}}");
		</script>
	    {% block script %}
		{% endblock %}
	{% endblock %}
	
	<!-- footer -->
</body>
{% endblock %}
</html>