{% extends 'admin-base.html.twig' %}
{%  block css %}
    <link href="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{%  block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Liste des classes de cours</h4> 
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="white-box">
                        <div class="row" >
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#addModal"><button class="btn btn-info"> Ajouter une classe</button></a>
                            <br><br><br>
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead style="background-color:#03a9f3">
                                        <tr >
                                            <th style="color: white">N°</th>
                                            <th style="color: white" >designation</th>
                                            <th style="color: white" class="text-nowrap" >Action</th> 
                                        </tr>
                                    </thead>
                                    <tbody id="dataContent" class="table table-bordered">
                                        {% if rooms != null %} 
                                            {% set compteur = 0 %}
                                            {% for room in rooms  %}
                                                {% if room.deleted != "true" %}
                                                    {% set compteur=compteur+1%}
                                                    <tr>
                                                        <td style="color:black">{{compteur}}</td>
                                                        <td class="text-center">{{room.designation}}</td>
                                                        <td class="text-nowrap">   
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#editModal{{room.id}}" title="Modifier"><span class="btn btn-default"><i class="fa fa-pencil text-inverse"></i></span> </a>
                                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal{{room.id}}"  title="supprimer"><span class="btn btn-default"><i class="fa fa-trash text-danger"></i></span> </a>
                                                        </td>
                                                    </tr>
                                                    <!-- Modal -->
                                                    <div id="editModal{{room.id}}" class="modal fade" role="dialog">
                                                        <div i class="modal-dialog" >
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background-color:#03a9f3">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                                                                    <span class="modal-title" id="myModalLabel">
                                                                        <div class="row">
                                                                            <h4 style="color:white" ><strong >Modifier une classe</strong></h4>
                                                                        </div> 
                                                                    </span> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div id="editMessage{{room.id}}" class="d-none"></div>
                                                                            <form id="roomForm" method="POST">    
                                                                                <div class="form-group row">
                                                                                    <label for="abstract" class="col-sm-3 col-form-label">désignation</label>
                                                                                    <div class="col-sm-9">
                                                                                        <input type="text" required="true"  class="form-control" id="designation{{room.id}}" placeholder="{{room.designation}}">
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="beforeEditRoom({{room.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Ajouter</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <div id="deleteModal{{room.id}}" class="modal fade" role="dialog">
                                                        <div id="currentModal" class="modal-dialog modal-dialog-centered" >
                                                            <div class="modal-content"  >
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            {{"Voulez vous vraiment supprimer le cours ?"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="deleteRoom({{room.id}})" class="btn btn-outline-info waves-effect btn-rounded waves-light">Valider</button>                                                    
                                                                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                    </div>
                                                    <!-- /Modal -->
                                                {% endif %}                                                        
                                            {% endfor %}
                                        {% else %}
                                            {# <tr>
                                                <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
                                            </tr> #}
                                        {% endif %}

                                    </tbody>     
                                </table>
                                <!-- Modal -->
                          </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div id="addModal" class="modal fade" role="dialog">
        <div i class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header" style="background-color:#03a9f3">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white"><strong>×</strong></button>
                    <span class="modal-title" id="myModalLabel">
                        <div class="row">
                            <h4 style="color:white" ><strong >Ajouter une classe</strong></h4>
                        </div> 
                    </span> 
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="addMessage" class="d-none"></div>
                            <form id="roomForm" method="POST">    
                                <div class="form-group row">
                                    <label for="abstract" class="col-sm-3 col-form-label">désignation</label>
                                    <div class="col-sm-9">
                                        <input type="text" required="true" class="form-control" id="designation" placeholder="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="beforeAddRoom()" class="btn btn-outline-info waves-effect btn-rounded waves-light">Ajouter</button>                                                    
                    <button type="button" class="btn btn-outline-danger waves-effect btn-rounded waves-light" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
{%  endblock %}
{% block script %}
 <script src="{{asset('admin/js/custom.min.js')}}"></script>
 <script src="{{asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
 <script>
    $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
    } );
    } );
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
    <script>
        function beforeAddRoom()
        {
            var designation=$("#designation").val()
            if(designation!="")
            {
                addRoom(designation);
            }
            else
            {
                document.getElementById('addMessage').innerHTML="veuillez remplir le champ";
                document.getElementById('addMessage').setAttribute('class','alert alert-danger');
            }
        }
        function addRoom(designation)
        {
            $.ajax({
                type:'POST',
                dataType:'html',
                url:"{{path('admin_room_add')}}",
                data:{'designation':designation},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#addModal').modal('hide');
                    swal({
                        text: "Modification effectuée avec succes",
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                    $('#addModal').modal('show');
                }
                else
                {
                    console.log('the message',result.data.message);
                }
            });
        }
        function beforeEditRoom(id)
        {
            var designation=$("#designation"+id).val()
            if(designation!="")
            {
                editRoom(designation,id);
            }
            else
            {
                document.getElementById('addMessage'+id).innerHTML="veuillez remplir le champ";
                document.getElementById('addMessage'+id).setAttribute('class','alert alert-danger');
                //affichage de message d'erreur
            }
        }
        function editRoom(designation,id)
        {
            var currentId=id;
            $.ajax({
                type:'POST',
                dataType:'html',
                url:"{{path('admin_room_edit')}}",
                data:{'designation':designation,'id':id},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#editModal'+currentId).modal('hide');
                    swal({
                        text: "Modification effectuée avec succes",
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                    $('#editModal'+currentId).modal('show');
                }
                else
                {
                    console.log('the message',result.data.message);
                }
            });
        }
        function deleteRoom(id){
            var path="{{path('admin_room_delete')}}";
            AjaxFunction(id,path);
        }
        function AjaxFunction(id,path){
            $.ajax({
                type:'POST',
                dataType:'html',
                url:path,
                data:{'id':id},
            }).then(function(data){
                var result=JSON.parse(data);
                if(result.data.statut==200)
                {
                    $('#deleteModal'+id).modal('hide');
                    swal({
                        text: result.data.message,
                        icon: "success",
                        buttons: "ok",
                    });
                    updateTable();
                }
                else
                {
                    console.log(result.data.message);
                }
            });
        }
        function updateTable()
        {
            $.ajax({
                type:'GET',
                dataType:'html',
                url:"{{path('admin_room_list_update')}}",
            }).then(function(data){
                $('#dataContent').html('');
                $('#dataContent').html(data);
            });
        }
    </script>
    <!--Style Switcher -->
{% endblock %}