{% if rooms != null %} 
    {% set compteur = 0 %}
    {% for room in rooms  %}
        {% if room.deleted != "true" %}
            {% set compteur=compteur+1%}
            <tr>
                <td style="color:black">{{compteur}}</td>
                <td class="text-center">{{room.designation}}</td>
                <td class="text-nowrap">   
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#editModal{{room.id}}" title="Modifier"><span class="btn btn-default"><i class="fa fa-pencil text-inverse"></i></span> </a>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal{{room.id}}"  title="supprimer"><span class="btn btn-default"><i class="fa fa-trash text-danger"></i></span> </a>
                </td>
            </tr>
        {% endif %}                                                        
    {% endfor %}
{% else %}
    {# <tr>
        <td colspan="4" align="center"> Il n'ya aucun utilisateur </td>
    </tr> #}
{% endif %}