{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block header %}
{% block css %}
	<link rel="stylesheet" href="{{asset('admin/plugins/bower_components/dropify/dist/css/dropify.min.css')}}">
	<link rel="stylesheet" href="{{asset('web/css/image-uploader.css')}}">	
	<link rel="stylesheet" href="{{asset('web/css/bootstrap.css')}}">	
	<style>
		.modal {
			display:    none;
			position:   fixed;
			z-index:    1000;
			top:        0;
			left:       0;
			height:     100%;
			width:      100%;
			background: rgba( 255, 255, 255, .8 ) 
						url('{{asset("web/images/loader.gif")}}') 
						50% 50% 
						no-repeat;
		}
	</style>	
{% endblock %}
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div id="loading-indicator" class="modal"></div>	
	<div class="container py-lg-5 py-3">
		<div class="row">
			<div class="col-2">
			</div>
			<div class="col-8">
				<h3><b> Ajouter des documents annexes</b></h3><button onclick="addRow()" class="btn btn-info"></button><br/>
				<div id="responseMessage" class="d-none"></div>
				<form  id="addForm" action="{{path('course_new')}}" method="POST" enctype="multipart/form-data">
					<div class="form-group row">
						<div class="col-sm-12">
							<div id="pdfMessage" class="d-none"></div>
							<input type="file" required="true" name="annexe1" class="dropify-fr" id="annexe1" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10">
						<button type="submit" id="submit"  class="btn btn-primary">Soumettre</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{asset('web/js/image-uploader.js')}}"></script>
<!-- jQuery file upload -->
<script src="{{asset('admin/plugins/bower_components/dropify/dist/js/dropify.min.js')}}"></script>
{# <script src="{{asset('web/js/dropzone.js')}}"></script> #}
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });

</script>
<script>
	var fd=new FormData();
	var addForm=document.getElementById('addForm')
    var number=0;
	var responseMessage=document.getElementById("responseMessage");
    function filechecker(id)
    {
        var file=document.getElementById(id).files[0];
	    var pdfMessage=document.getElementById("pdfMessage"+id.silice(-1));
		//var file = this.files[0];
		if(isPdf(file['name']))
		{
            var current='file_'+id.silice(-1);
            if(fd.has(current))
            {
                fd.delete(current);
            }
            fd.append(current,file);
			pdfMessage.innerHTML="";
			pdfMessage.setAttribute('class','');
		}
		else
		{
			pdfMessage.innerHTML="Veuillez ajouter  un fichier pdf";
			pdfMessage.setAttribute('class','alert alert-danger');
			$("#annexe").val('');
		}
    }
    function addRow()
    {
		number+=1;
        var div_1=document.createElement('div');
        var div_2=document.createElement('div');
        var div_3=document.createElement('div');
		var input=document.createElement('input');
		div_1.class='form-group row';
		div_2.class="col-sm-12";
		div_3.class="d-none"
		div_3.id="pdfMessage_"+number;
		input.type="file";
		input.required="true";
		input.name="annexe_"+number;		
		input.id="annexe_"+number;
		input.onchange="filechecker(this.id)"
		div_2.appendChild(div_3);	
		div_2.appendChild(input);
		div_1.appendChild(div_2);	
		addForm.appendChild(div_1);
        //theForm=document.getElementById('addForm');
    }
	function isImage(filename) {
		var ext = getExtension(filename);
		switch (ext.toLowerCase()) {
			case 'jpg':
			case 'gif':
			case 'bmp':
			case 'png':
			//etc
			return true;
		}
		return false;
	}
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
	function isPdf(filename) {
		var ext = getExtension(filename);
		switch (ext.toLowerCase()) {
			case 'pdf':
			// etc
			return true;
		}
		return false;
	}
	{# function _(el){
		return document.getElementById(el);
	} #}
	 $('#addForm').submit(function(e){
		e.preventDefault();
		e.stopPropagation();
		var firstFile=document.getElementById('content').files[0];
		var secondFile=document.getElementById('annexes').files[0];		
		$title=$('#title').val();
		$abstract=$('#abstract').val();
		$content=$('#content').val();
		$annexes=$('#annexes').val();
		if($content)
		{
			var fd=new FormData();
			fd.append('content',firstFile);
			fd.append('annexes',secondFile);
			fd.append('title',$title);
			fd.append('abstract',$abstract);
			AjaxFileFunction(fd);
		}
		else
		{
			responseMessage.innerHTML="veuillez ajouter le contenu du cours";
			responseMessage.setAttribute('class','alert alert-danger');
			//envoie de message d'erreur
		}
	});
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('course_new')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			$('#title').val('');
			$('#abstract').val('');
			$('#content').val('');
			$('#annexes').val('');
			var result=JSON.parse(data);
			console.log('the result',result);
			responseMessage.innerHTML=result.data.message;
			responseMessage.setAttribute('class','alert alert-success');
		});
    }
	$(document).ajaxSend(function(event, request, settings) {
		$('#loading-indicator').show();
	});

	$(document).ajaxComplete(function(event, request, settings) {
		$('#loading-indicator').hide();
	});
</script> 
<script>
	$(document).ready(function(){
		$('.input-images-1').imageUploader();
	});
</script>
{% endblock %}