<form  id="addForm" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="abstract" class="col-sm-2 col-form-label">Contenu</label>
        <div class="col-sm-10">
            <div id="videoMessage" class="d-none"></div>
            <input type="file" required="true" name="content" class="dropify-fr" id="content" />
        </div>
    </div>
</form>

<script>
	var responseMessage=document.getElementById("responseMessage");
	var videoMessage=document.getElementById("videoMessage");
	$("#content").change(function() {
		var file = this.files[0];
		if(isVideo(file['name']))
		{
			videoMessage.innerHTML="";
			videoMessage.setAttribute('class','');
		}
		else
		{
			videoMessage.innerHTML="Le contenu doit être une video";
			videoMessage.setAttribute('class','alert alert-danger');
			$("#content").val('');
		}
		var fileType = file.type;
		console.log('the files', this.files)
	});
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
	function isVideo(filename) {
		console.log(" is video called")
		var ext = getExtension(filename);
		console.log(ext);
		switch (ext.toLowerCase()) {
			case 'm4v':
			case 'avi':
			case 'mpg':
			case 'mp4':
			// etc
			console.log("extension is good");
			return true;
		}
		console.log("extension is not good");
		return false;
	}
	function _(el){
		return document.getElementById(el);
	}
	$('#addForm').submit(function(e){
		e.preventDefault();
		e.stopPropagation();
		//alert(file.name+" | "+file.size+" | "+file.type);
		
		$title=$('#title').val();
		$abstract=$('#abstract').val();
		$content=$('#content').val();
		$annexes=$('#annexes').val();
		if($content)
		{
			var file=document.getElementById("content").files[0];
			var fd=new FormData();
			fd.append('content',file);
			//fd.append('abstract',$abstract);
			//fd.append('title',$title);
			AjaxFileFunction(fd);
		}
		else
		{
			responseMessage.innerHTML="veuillez ajouter le contenu du cours";
			responseMessage.setAttribute('class','alert alert-danger');
			//envoie de message d'erreur
		}
	});	
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('course_new')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			console.log('good job');
			var result=JSON.parse(data);
			console.log('the result',result);
		});
    }

    //ajkljlkjl
    $('#addForm').submit(function(e){
		e.preventDefault();
		e.stopPropagation();
		var file=document.getElementById('content').files[0];
		console.log('the file',file);
		alert(file.name+" | "+file.size+" | "+file.type);		
		$title=$('#title').val();
		$abstract=$('#abstract').val();
		$content=$('#content').val();
		$annexes=$('#annexes').val();
		if($content)
		{
			var fd=new FormData();
			fd.append('content',file);
			//fd.append('abstract',$abstract);
			//fd.append('title',$title);
			AjaxFileFunction(fd);
		}
		else
		{
			responseMessage.innerHTML="veuillez ajouter le contenu du cours";
			responseMessage.setAttribute('class','alert alert-danger');
			//envoie de message d'erreur
		}
	});
</script> 