{% if courses != null %}
	{% for course in courses %}
	<div class="col-lg-4 col-md-6">
		<div class="grid">
			<img src="{{asset('web/images/choose1.jpg')}}" alt="" class="img-fluid" />
			<div class="info p-4">
				<h4 class=""><img src="{{asset('web/images/s1.png')}}" class="img-fluid" alt="">{{course.title}}</h4>
				{% if is_granted('ROLE_USER')%}
					<a href="{{path('course_show',{'id':course.id})}}" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
				{% else %}
					<a href="javascript:void(0)" title="veuilez vous connecter ou créer un compte" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
				{% endif %}
				<p class="mt-3">{{course.abstract}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}
