{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block header %}
<style>
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button:hover {
  background: #ccc;
}
.search-container {
  
}
</style>
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div class="container py-lg-5 py-3">
		<div class="row">
            <div class="col-lg-8 col-md-12">
				<h4 class=""><img src="{{asset('web/images/s1.png')}}" class="img-fluid" alt="">{{course.title}}</h4>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="heading mb-sm-5 mb-4 search-container">
                    <form action="">
                        <input type="text" placeholder="taper quelquechose.." name="search">
                        <button style="align:center"  class="btn btn-dark">Rechercher</button>                
                    </form>
                </div>
            </div>
        </div>
        {# <h3 class="heading mb-sm-5 mb-4">Nos cours</h3> #}
		<div class="row">
			<div class="col-lg-2 col-md-2">
			</div>
			<div class="col-lg-8 col-md-8">
				<div class="grid">
					<video width="900" height="500"  controls>
						<source src="{{asset('data/' ~ course.content)}}" type="video/mp4"/>
						Le fichier video ne peut pas être lu
					</video>
			    </div>
			</div>
		</div>
    </div>
</section>
<section class="services py-5" id="why">
	<div class="container">
		<h3 class="heading mb-5">les documents annexes</h3>
		<div class="row ml-sm-5">
			{% if course.annexes != null %}
				{% for annexe in course.annexes %}
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
									<img src="{{asset('web/images/s1.png')}}" alt="">
								</div>
								<div class="our-services-text">
									<h4>{{annexe.file}}</h4>
									<a style="align:center" href="{{asset('data/' ~ annexe.file)}}" download="{{asset('data/' ~ annexe.file)}}" type="button" class="btn btn-dark">Télécharger</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<!-- positioned image -->
		<div class="position-image">
			<img src="{{asset('web/images/services.png')}}" alt="" class="img-fluid">
		</div>
		<!-- //positioned image -->
	</div>
</section>
{% endblock %}