$.ajax({
        type:'POST',
        dataType:'html',
        enctype:'multipart/form-data',
        url:"{{path('user_set_files')}}",
        data:fd,                
        contentType:false,
        cache:false,
        processData:false,
    });


        var fileType = file.type;
		var match = ['video/mp4', 'video/mkv', 'video/avi'];
		if(!((fileType == match[0]) || (fileType == match[1]) || (fileType == match[2]) || (fileType == match[3]) || (fileType == match[4]) || (fileType == match[5]))){
			alert('Sorry, only PDF, DOC, JPG, JPEG, & PNG files are allowed to upload.');
			$("#file").val('');
			return false;
		}

         $.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('user_set_files')}}",
			data:fd,                
			contentType:false,
			cache:false,
			processData:false,
        });

function getExtension(filename) {
  var parts = filename.split('.');
  return parts[parts.length - 1];
}

function isImage(filename) {
  var ext = getExtension(filename);
  switch (ext.toLowerCase()) {
    case 'jpg':
    case 'gif':
    case 'bmp':
    case 'png':
      //etc
      return true;
  }
  return false;
}

function isVideo(filename) {
  var ext = getExtension(filename);
  switch (ext.toLowerCase()) {
    case 'm4v':
    case 'avi':
    case 'mpg':
    case 'mp4':
      // etc
      return true;
  }
  return false;
}



//old
$('#addForm').submit(function(e){
		e.preventDefault();
		e.stopPropagation();
		//alert(file.name+" | "+file.size+" | "+file.type);
		
		$title=$('#title').val();
		$abstract=$('#abstract').val();
		$content=$('#content').val();
		$annexes=$('#annexes').val();
		if($content)
		{
			var file=document.getElementById("content").files[0];

			var fd=new FormData();
			fd.append('content',file);
			fd.append('abstract',$abstract);
			fd.append('title',$title);
			AjaxFileFunction(fd);
		}
		else
		{
			responseMessage.innerHTML="veuillez ajouter le contenu du cours";
			responseMessage.setAttribute('class','alert alert-danger');
			//envoie de message d'erreur
		}
	});	
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('course_new')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			console.log('good job');
			var result=JSON.parse(data);
			console.log('the result',result);
		});
    }

	<script>
    function deleteCourse(id){
        AjaxFunction(id);
    }
    function AjaxFunction(id){
        $.ajax({
            type:'POST',
            dataType:'html',
            url:'{{path('admin_course_delete')}}',
            data:{'id':id},
        }).then(function(data){
            var result=JSON.parse(data);
            if(result.data.statut==200)
            {
                $('#currentModal').parent().modal('hide');
                console.log('the parent',$('#currentModal').parent())
                
                swal({
                    text: result.data.message,
                    icon: "success",
                    buttons: "ok",
                });
                //var lite="{% include '/admin/courses/index.html.twig' with {'courses':'theCourses'} %}";
                //lite.replace('theCourses',result.data.courses);
                //$('#dataContent').html(lite);
            }
            else
            {
                console.log(result.data.message);
            }
        });
    }
</script>