{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block header %}
{% block css %}
	<link rel="stylesheet" id="myCss" href="{{asset('admin/plugins/bower_components/dropify/dist/css/dropify.min.css')}}">
	<link rel="stylesheet" href="{{asset('web/css/image-uploader.css')}}">	
	<link rel="stylesheet" href="{{asset('web/css/bootstrap.css')}}">	
	<style>
		.modal {
			display:    none;
			position:   fixed;
			z-index:    1000;
			top:        0;
			left:       0;
			height:     100%;
			width:      100%;
			background: rgba( 255, 255, 255, .8 ) 
						url('{{asset("web/images/loader.gif")}}') 
						50% 50% 
						no-repeat;
		}
	</style>	
{% endblock %}
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div id="loading-indicator" class="modal"></div>	
	<div class="container py-lg-5 py-3">
		<div class="row">
			<div class="col-2">
			</div>
			<div class="col-8">
                <h3><b> Ajouter des documents annexes</b></h3><br>
				<div id="responseMessage" class="d-none"></div>
				<br/><br/><br/>
                <span id="courseId" class="d-none">{{courseId}}</span>
                <form  id="addForm" action="{{path('course_new')}}"  method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Titre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title"  placeholder="Titre du document" required="true">
						</div>
					</div>
					<div class="form-group row">
						<label for="abstract" class="col-sm-2 col-form-label">Description</label>
						<div class="col-sm-10">
							<textarea  rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " class="form-control"  name="description" id="description" placeholder="description du document"></textarea>
						</div>
					</div>
                    <div class="form-group row">
						<label for="annexe" class="col-sm-2 col-form-label">Contenu</label>
                        <div class="col-sm-10">
							<input  type="file" required="true" name="annexe" class="dropify-fr" id="annexe" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10">
						<button type="submit" id="submit"  class="btn btn-primary">Soumettre</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{asset('web/js/image-uploader.js')}}"></script>
<!-- jQuery file upload -->
<script id="myScript" src="{{asset('admin/plugins/bower_components/dropify/dist/js/dropify.min.js')}}"></script>
{# <script src="{{asset('web/js/dropzone.js')}}"></script> #}
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });

</script>
<script>
	var addForm=document.getElementById('addForm')
    var number=0;
	var responseMessage=document.getElementById("responseMessage");
	$('#submit').click(function(e){
		e.preventDefault();
		e.stopPropagation();
		var fd=new FormData();
		if($("#title").val()){
			if($("#annexe").val())
			{
				fd.append('file',document.getElementById("annexe").files[0]);
				fd.append('title',$('#title').val());
				fd.append('description',$('#description').val());
				fd.append('id',$('#courseId').html());
				AjaxFileFunction(fd);
			}
			else
			{
				responseMessage.innerHTML="veuillez ajouter le contenu";
				responseMessage.setAttribute('class','alert alert-danger');		
			}
		}
		else
		{
			responseMessage.innerHTML="veuillez ajouter le titre";
			responseMessage.setAttribute('class','alert alert-danger');
		}
	});
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('annexe_new')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			var result=JSON.parse(data);
			//console.log('the result',result);
			swal({
				text: result.data.message,
				icon: "success",
				buttons: "ok",
			});
			$('#title').val('');
			$('#description').val('');
			$('#annexe').val(null);

		});
    }
	$(document).ajaxSend(function(event, request, settings) {
		$('#loading-indicator').show();
	});

	$(document).ajaxComplete(function(event, request, settings) {
		$('#loading-indicator').hide();
	});
</script> 
<script>
	$(document).ready(function(){
		$('.input-images-1').imageUploader();
	});
</script>
{% endblock %}