{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block header %}
{% block css %}
	<link rel="stylesheet" id="myCss" href="{{asset('admin/plugins/bower_components/dropify/dist/css/dropify.min.css')}}">
	<link rel="stylesheet" href="{{asset('web/css/image-uploader.css')}}">	
	<link rel="stylesheet" href="{{asset('web/css/bootstrap.css')}}">	
	<style>
		.modal {
			display:    none;
			position:   fixed;
			z-index:    1000;
			top:        0;
			left:       0;
			height:     100%;
			width:      100%;
			background: rgba( 255, 255, 255, .8 ) 
						url('{{asset("web/images/loader.gif")}}') 
						50% 50% 
						no-repeat;
		}
	</style>	
{% endblock %}
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div id="loading-indicator" class="modal"></div>	
	<div class="container py-lg-5 py-3">
		<div class="row">
			<div class="col-2">
			</div>
			<div class="col-8">
                <h3><b> Ajouter des documents annexes</b></h3><br>
				<div class="row">
                    <div class="col-6">
                        <button onclick="addRow()" class="btn btn-default"><span class="fa fa-plus-square"></span> Ajouter un nouveau champ</button>
                    </div>
                    <div class="col-6" style="padding-left:175px">
						<a href="javascript:void(0)" type="submit" id="submit"  ><button class="btn btn-info">Soumettre</button></a>
                    </div>
                </div>
               
				<div id="responseMessage" class="d-none"></div>
				<br/><br/><br/>
                <span id="courseId" class="d-none">{{courseId}}</span>
                <form  id="addForm" action="{{path('course_new')}}"  method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Titre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title"  placeholder="Titre du cours" required="true">
						</div>
					</div>
					<div class="form-group row">
						<label for="abstract" class="col-sm-2 col-form-label">Description</label>
						<div class="col-sm-10">
							<textarea   rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; " class="form-control" id="abstract" placeholder="Bref résumé du cours"></textarea>
						</div>
					</div>
					<div id="z" style="display:none" class="form-group row">
                        <div class="col-sm-10">
							<div id="pdfMessage_z" class="d-none"></div>
							<input  onchange="filechecker(this.id)" type="file" required="true" name="annexe_z" class="dropify-fr" id="annexe_z" />
						</div>
                        <div class="col-sm-2">
                            <a  href="javascript:void(0)" id="delete_z" onclick="removeRow(this.parentElement.parentElement.id)" ><span style="color:red "class="fa fa-trash">supprimer</span></a>
                        </div>
					</div>
                    <div id="0" class="form-group row">
                        <div class="col-sm-10">
							<div id="pdfMessage_0" class="d-none"></div>
							<input  onchange="filechecker(this.id)" type="file" required="true" name="annexe_0" class="dropify-fr" id="annexe_0" />
						</div>
                        <div class="col-sm-2">
                            <a  href="javascript:void(0)" id="delete_0" onclick="removeRow(this.parentElement.parentElement.id)" ><span style="color:red" class="fa fa-trash">supprimer</span></a>
                        </div>
					</div>
				</form>
			</div>
		</div>
		
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{asset('web/js/image-uploader.js')}}"></script>
<!-- jQuery file upload -->
<script id="myScript" src="{{asset('admin/plugins/bower_components/dropify/dist/js/dropify.min.js')}}"></script>
{# <script src="{{asset('web/js/dropzone.js')}}"></script> #}
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });

</script>
<script>
	var fd=new FormData();
	var addForm=document.getElementById('addForm')
    var number=0;
	var responseMessage=document.getElementById("responseMessage");
    function filechecker(id)
    {
        var file=document.getElementById(id).files[0];
	    var pdfMessage=document.getElementById("pdfMessage_"+id.slice(-1));

		//var file = this.files[0];
		if(isPdf(file['name']))
		{
            var current='file_'+id.slice(-1);
            if(fd.has(current))
            {
                fd.delete(current);
            }
            fd.append(current,file);
			pdfMessage.innerHTML="";
			pdfMessage.setAttribute('class','');
		}
		else
		{
			pdfMessage.innerHTML="Veuillez ajouter  un fichier pdf";
			pdfMessage.setAttribute('class','alert alert-danger');
			$("#annexe_"+id.slice(-1)).val('');
		}
    }
    function removeRow(id)
    {
        number-=1;
        fd.delete('file_'+id);
        addForm.removeChild(document.getElementById(id));
    }
    function addRow()
    {
        $(document).ready(function(){
            var currentNumber=number+1
            var cloned=$('#z').clone().attr('id',currentNumber);
            if(document.getElementById(''+0)!=null)
            {
                $('#'+number).after(cloned);
            }
            else
            {
                $('#z').after(cloned);
            }
            var currentCloned=document.getElementById(''+currentNumber);
            currentCloned.setAttribute('style','');
            $('#'+currentNumber).find('#pdfMessage_z').attr('id','pdfMessage_'+currentNumber);
            $('#'+currentNumber).find('#annexe_z').attr('id','annexe_'+currentNumber);
            var currentInput=document.getElementById('annexe_'+currentNumber);
            currentInput.setAttribute('name','annexe_'+currentNumber);
            $('#'+currentNumber).find('#annexe_'+number).attr('name','annexe_'+currentNumber);
            $('#'+currentNumber).find('#delete_'+number).attr('id','delete_'+currentNumber);
            //console.log('the cloned',cloned);
            number+=1;
        });
    }
	function isImage(filename) {
		var ext = getExtension(filename);
		switch (ext.toLowerCase()) {
			case 'jpg':
			case 'gif':
			case 'bmp':
			case 'png':
			//etc
			return true;
		}
		return false;
	}
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
	function isPdf(filename) {
		var ext = getExtension(filename);
		switch (ext.toLowerCase()) {
			case 'pdf':
			// etc
			return true;
		}
		return false;
	}
	{# function _(el){
		return document.getElementById(el);
	} #}
	 $('#submit').click(function(e){
		e.preventDefault();
		e.stopPropagation();
        fd.append('number',number);
        fd.append('id',$('#courseId').html());
		AjaxFileFunction(fd);
	});
	function AjaxFileFunction(fd){
		$.ajax({
			type:'POST',
			dataType:'html',
			enctype:'multipart/form-data',
			url:"{{path('annexe_new')}}",
			data:fd,               
			contentType:false,
			cache:false,
			processData:false,
        }).then(function(data){
			var result=JSON.parse(data);
			//console.log('the result',result);
			swal({
				text: result.data.message,
				icon: "success",
				buttons: "ok",
			});
			addForm.innerHTML="";
			//responseMessage.innerHTML=result.data.message;
			//responseMessage.setAttribute('class','alert alert-success');
		});
    }
	$(document).ajaxSend(function(event, request, settings) {
		$('#loading-indicator').show();
	});

	$(document).ajaxComplete(function(event, request, settings) {
		$('#loading-indicator').hide();
	});
</script> 
<script>
	$(document).ready(function(){
		$('.input-images-1').imageUploader();
	});
</script>
{% endblock %}