{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block underHeader %}
<style>
	input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	}
	.search-container button:hover {
	background: #ccc;
	}
	.search-container {
	
	}
</style>
{% endblock %}
{% block header %}
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div class="container py-lg-5 py-3">
		<div class="row">
            <div class="col-lg-8 col-md-12">
        		{# <h3 class="heading mb-sm-5 mb-4">Nos cours</h3> #}
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="heading mb-sm-5 mb-4 search-container">
                    <form action="">
                        <input type="text" placeholder="taper quelquechose.." name="search">
                        <button style="align:center"  class="btn btn-dark">Rechercher</button>                
                    </form>
                </div>
            </div>
        </div>
        {# <h3 class="heading mb-sm-5 mb-4">Nos cours</h3> #}
		<div class="row">
		{% if courseRooms|length > 0 %} 
   			{% for a in 0 .. courseRooms|length - 1  %}
				<div class="col-lg-4 col-md-6">
					<div class="grid">
						<img src="{{asset('web/images/choose1.jpg')}}" alt="" class="img-fluid" />
						<div class="info p-4">
							<h4 class=""><img src="{{asset('web/images/s1.png')}}" class="img-fluid" alt="">{{courseRooms[a]['title']}}</h4>
							{% if is_granted('ROLE_USER')%}
								<a href="{{path('course_show',{'id':courseRooms[a]['course_id']})}}" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
							{% else %}
								<a href="javascript:void(0)" title="veuilez vous connecter ou créer un compte" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
							{% endif %}
							<p class="mt-3">{{courseRooms[a]['abstract']}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
    </div>
</section>
{% endblock %}
{% block script %}
	<script>
		$(document).ready(function() {
			document.getElementById('header').setAttribute('style','background-color:black');
		});
	</script>
{% endblock %}