<h3><b>{{user.firstName}} {{user.name}}</b></h3>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <table class="table table-borderless" align="right">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>{{user.account.email}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Telephone</td>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <td>Type de compte</td>
                    <td>{% if is_granted('ROLE_TEACHER') %}{{"ENSEIGNANT"}}{% else %}{{'ETUDIANT'}}{% endif %}</td>
                </tr>
                <tr>
                    <td>Classe</td>
                    <td>
                        {% if user.roomUsers != null %}
                            {% for roomUser in user.roomUsers %}
                                {{roomUser.room.designation}}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button id="showEditForm" class="btn btn-info">Modifier<i class="fa fa-pencil"></i></button>
            </div>
        </div><br>
        </div>
    </div>
</div>
<script>
    $('#showEditForm').on('click',function(e){
        e.stopPropagation();
        e.preventDefault();
        console.log('the text');
        if(profilInfo.getAttribute('class')=="d-none")
        {
            profilInfo.setAttribute('class',"");
            completeForm.setAttribute('class',"d-none");
        }
        else if(completeForm.getAttribute('class')=="d-none")
        {
            completeForm.setAttribute('class',"");
            profilInfo.setAttribute('class',"d-none");
        }
    });
</script>