{% extends "base-home.html.twig" %}
{% block css %}
	<style>
	.intro{
		padding:0 20px;
		margin-top:100px;
		text-align:center;background:#fff
	}
	.intro-section{
		padding-top:50px;
		position:relative;
		background-size:cover;
		z-index:1;
	}
	.intro-section:before{
		content:'';
		z-index:-1;
		position:absolute;top:0;
		bottom:0;
		left:0;
		right:0;
		background:black
	}
	.intro-section:after{
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:150px;
		z-index:-1;
		background:#fff
	}
	</style>		
{% endblock %}
{% block header %}
<header  style="background-color:black">  
	<div class="top-head container">
		<div class="ml-auto text-right right-p">
			<ul>
				<li class="mr-3">
					<span class="fa fa-clock-o"></span> Mon-Sat : 9:00 to 17:00</li>
				<li>
					<span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">info@example.com</a> 
                </li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><img src="{{asset('web/images/s2.png')}}" alt=""> Child Learn </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="{{path('index')}}">Acceuil</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
<section class="intro-section">
	<div class="container">
		<div class="row">
		<div class="col-md-1 col-lg-2"></div>
		<div class="col-md-10 col-lg-8">
			<div class="intro">
				<div class="profile-img"><img src="{{asset('web/images/user.png')}}" alt=""/></div>
				{% if user %}
				<form id="completeForm" class="d-none" action="#" method="post">
					<div id="responseMessage" class="d-none">
					</div>
					<div class="form-style-w3ls">
						<div class="form-group">
							<label for="name">Nom </label>
							<input class="form-control" placeholder="{{user.name}}" id="name"  name="name" type="text" required="false">
						</div>
						<div class="form-group">
							<label for="firstName">Prenoms </label>
							<input class="form-control" placeholder="{{user.firstName}}"  id="firstName" name="firstName" type="text" required="false">
						</div>
						<div class="form-group">
							<label for="phone">Telephone </label>
							<input class="fomr-control" placeholder="{{user.phone}}" id="phone" name="phone" type="text" required="false">
						</div>							
						<div class="form-group">
							<label>Type</label>
							<select class="form-control" id="type" name="type" required="false">
								<option value="">Type de compte</option>
								<option value="ROLE_STUDENT">Etudiant</option>
								<option value="ROLE_TEACHER">Enseignant</option>
							</select>
						</div>
						<div class="form-group row">
							<label for="abstract" class="col-sm-2 col-form-label">Classes</label>
							<div class="col-sm-10">
								<select id="rooms"name="rooms[]" class="js-example-basic-multiple" placeholder="cliquer ici" multiple="multiple" required="true">
								</select>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-6">
								<a  href="javascript:void(0)" id="submitButton" Class="btn btn-info">Soumettre</a><br><br>
							</div>
							<div class="col-6">
								<a href="javascipt:void(0)" id="closeEditForm" Class="btn btn-danger"> Fermer</a><br><br>
							</div>
						</div>
					</div>
				</form>
				<div id="profilInfo" class="">
					<h3><b>{{user.firstName}} {{user.name}}</b></h3>
					<div class="row">
						<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<table class="table table-borderless" align="right">
								<thead>
									<tr>
										<td>Email</td>
										<td>{{user.account.email}}</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Telephone</td>
										<td>{{user.phone}}</td>
									</tr>
									<tr>
										<td>Type de compte</td>
										<td>
											{% if is_granted('ROLE_TEACHER') %}
												{{'ENSEIGNANT'}}
											{% else %}
												{% if is_granted('ROLE_STUDENT')%}
													{{'ETUDIANT'}}
												{% endif %}
											{% endif %}
										</td>
									</tr>
									<tr>
										<td>Classe</td>
										<td>
											{% if user.roomUsers != null %}
												{% for roomUser in user.roomUsers %}
													{{roomUser.room.designation}}
												{% endfor %}
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-md-4">
								</div>
								<div class="col-md-4">
									<button id="showEditForm" class="btn btn-info">Modifier<i class="fa fa-pencil"></i></button>
								</div>
							</div><br>
							</div>
						</div>
					</div>
        		</div>
				
				{% endif %}
			</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
<script>
	$('#rooms').load("{{path('room_index')}}");
	var profilInfo=document.getElementById('profilInfo');
	var completeForm=document.getElementById('completeForm');
	$('#showEditForm').on('click',function(e){
		e.stopPropagation();
		e.preventDefault();
		console.log('the text');
		if(profilInfo.getAttribute('class')=="d-none")
		{
			profilInfo.setAttribute('class',"");
			completeForm.setAttribute('class',"d-none");
		}
		else if(completeForm.getAttribute('class')=="d-none")
		{
			completeForm.setAttribute('class',"");
			profilInfo.setAttribute('class',"d-none");
		}
	});
	$('#closeEditForm').on('click',function(e){
		e.stopPropagation();
		e.preventDefault();
		if(profilInfo.getAttribute('class')=="d-none")
		{
			profilInfo.setAttribute('class',"");
			completeForm.setAttribute('class',"d-none");
		}
		else if(completeForm.getAttribute('class')=="d-none")
		{
			completeForm.setAttribute('class',"");
			profilInfo.setAttribute('class',"d-none");
		}
	});
	$('#submitButton').on('click',function(e){		
		e.stopPropagation();
		e.preventDefault();
		$name=$('#name').val();
		$firstName=$('#firstName').val();
		$phone=$('#phone').val();
		$type=$('#type').val();
		$rooms=$('#rooms').val();
		$.ajax({
			'type':'POST',
			'dataType':'html',
			'url':'{{path('user_edit')}}',
			'data':{'name':$name,'firstName':$firstName,'phone':$phone,'type':$type,'rooms':$rooms}
		}).then(function(data){
			$('#profilInfo').html(data);
			completeForm.setAttribute('class',"d-none");
			profilInfo.setAttribute('class',"");
		});
	});
</script>
{% endblock %}