{% extends "base-home.html.twig" %}
{% block banner %}{% endblock %}
{% block underHeader %}
	<style>
		input[type=text] {
		padding: 6px;
		margin-top: 8px;
		font-size: 17px;
		border: none;
		}
		.search-container button:hover {
		background: #ccc;
		}
		.search-container {
		
		}
	</style>
{% endblock %}
{% block content %}
<br/><br/><br/><br/>
<section class="other_services py-5" id="courses">
	<div class="container py-lg-5 py-3">
		<div class="row">
            <div class="col-lg-8 col-md-12">
        		<h3 class="heading mb-sm-5 mb-4">Nos cours</h3>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="heading mb-sm-5 mb-4 search-container">
                    <form action="">
                        <input type="text" placeholder="taper quelquechose.." name="search">
                        <button style="align:center"  class="btn btn-dark">Rechercher</button>                
                    </form>
                </div>
            </div>
        </div>
        {# <h3 class="heading mb-sm-5 mb-4">Nos cours</h3> #}
		<div class="row">
		{% if userCourses != null %} 
   			{% for userCourse in userCourses  %}
    			{# {% if (userCourse.deleted != "true") and (course.validated=="true") %} #}
				<div class="col-lg-4 col-md-6">
					<div class="grid">
						<img src="{{asset('web/images/choose1.jpg')}}" alt="" class="img-fluid" />
						<div class="info p-4">
							<h4 class=""><img src="{{asset('web/images/s1.png')}}" class="img-fluid" alt="">{{userCourse.course.title}}</h4>
							{% if is_granted('ROLE_USER')%}
								<a href="{{path('course_show',{'id':userCourse.course.id})}}" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
							{% else %}
								<a href="javascript:void(0)" title="veuilez vous connecter ou créer un compte" style="align:center" type="button" class="btn btn-dark">Suivre le cours</a>				
							{% endif %}
							<p class="mt-3">{{userCourse.course.abstract}}</p>
						</div>
					</div>
				</div>
				{# {% endif %} #}
			{% endfor %}
		{% endif %}
		</div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
	$(document).ready(function() {
		document.getElementById('header').setAttribute('style','background-color:black');
	});
</script>
	
{% endblock %}